@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'nouislider/dist/nouislider.css';
/* This file is for your main application CSS */

#map {
    height: 700px;
    /* width: 70%; */
}

/* #inspectors {
    width: 30%;
} */

.centralized {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}